
.secreto{
            display:none;
        }

        erro{
            display:block;
            font-family: 'MedievalSharp', cursive;
            font-size:18px;
            border-radius: 15px;
            margin-left: 200px;
            background: red;
            height: 40px;
            line-height: 40px;
        }

        #container{
            font-family: 'MedievalSharp', cursive;
            font-size: 20px;
            height: 40px;
            margin-left: 5px;
        }

        #logo{

            color: #a07e04;
            font-size: 30px;
        }

        #home, #login, #ver, #fale{
            color: #a07e04;
        }

        #retangulo{

            background-image: url("https://pre00.deviantart.net/b631/th/pre/f/2015/229/8/3/skyrim_potions_2nd_set___tes_5_by_etrelley-d962aqm.png");
            font-family: 'MedievalSharp', cursive;
            color: #a07e04;
            height: 400px;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #ffffff;
        }

        #cad{
            font-family: 'MedievalSharp', cursive;
            color: #a07e04;
            margin-left: 220px;
            border: 1px solid #856404;
            margin-top: 60px;
            width: 800px;
            height: 300px;
            padding-top: 20px;
        }

        #busca{
            background-color:white;
            border:solid 1px;
            border-radius:15px;
            width:260px;
            height: 35px;
            position: relative;
            left: 1000px;
        }

        #txtBusca{
            float:left;
            background-color:transparent;
            padding-left:5px;
            font-size:18px;
            height:35px;
            width:260px;
            border-radius:15px;
        }
        #buscar{
            position: relative;
            left: 210px;
            top: -32px;
            height:30px;
            border-radius:12px;
            width:45px;
            background: #a07e04;
        }

        html, body{
            height: 110%;
            background: black;

        }
        .dropdown{
        position: relative;
        left: -13.6%;
        top: 68px;
      }
      #button{
        background: #4e555b;
        color: #a07e04;
        font-family: 'MedievalSharp', cursive;
        font-size: 20px;
        border: none;
      }
      #itens{
        background: transparent;
        color: #a07e04;
        font-family: 'MedievalSharp', cursive;
        font-size: 18px;
        width: 40px;
        position:absolute;
        margin-left:3%;
      }

      #destaque{
          color: #a07e04;
          font-family: 'MedievalSharp', cursive;
          font-size: 18px;
      }

        a{
            color: #a07e04;
        }



        #footer{
            height: 80px;
            margin-top: 153px;
        }

        .close{
            float:left;
            color:blue;
            margin-left: 10px;
            margin-top: 10px;
            margin-right:50px;
        }
